#form h3{
    margin-bottom: 30px;
}
#form label{
    margin-top: 15px;
    font-weight: 700; 
}
#form{
    position: relative;
    top: 40px;
    width: 50%;
    margin: auto;
    color: white;
}
#btnn{
    text-align: center;
}
#form input{
    font-size: 0.8em;
}