
#SearchBox{
    background-image: url(dash.png);
    text-align: center;
    background-position: center;
    background-size: cover;
    height:360px ;

    display: flex;
    justify-content: center;
    align-items: center;
}
#SearchBox input{
    border: none;
    outline: none;
    border-radius: 6px;
    height: 40px;
    padding: 20px 10px;
    width: 50%;
    border: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.4);
}
#header{
    position: relative;
    top: -60px;
}

#duvidas{
    position: relative;
    top: -40px;
}
#duvidas .col-md-4{
    margin-bottom: 40px;
    padding-bottom: 40px
}
#duvidas .duvida{
    margin: 0px 10px;
    background-color: #1E1E1E;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.4);
    height: 240px;
    text-align: center;
}
#duvidas .duvida .img-duvida{
    overflow: hidden;
    height: 70px;
    border-radius: 6px 6px 0px 0px;
    background-position: center;
    background-size: cover;
}
#duvidas .duvida .img-duvida img{
    width: 100%;
}

#duvidas .duvida h2{
    margin: 20px;
    margin-top: 10px;
    font-size: 0.8em;
}
#duvidas .duvida p{
    font-size: 0.7em;
    line-height: 140%;
    margin: 0px 15px;
}
#duvidas a{
    text-decoration: none;
    color: white;
}
#paginacao{
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#paginacao .paginacao_button{
    margin: 0px 10px;
    
    font-weight: bold;

    height: 40px;
    width: 60px;
    border-radius: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #963d3d;
    transition: 0.2s;
    cursor: pointer;
}
#paginacao .paginacao_button:hover{
    background-color: #ee3434;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);

}
.link-artigo{
    margin-bottom: 30px;
}