{% extends 'global/base.html' %}
{% load static %}

{% block 'title' %}Importador De Metas{% endblock 'title' %}teste



{% block 'css' %}
    <link rel="stylesheet" href="{% static 'planilhas/meta.css' %}">
    <link rel="stylesheet" href="{% static 'css/metaenvite.css' %}">

    <script>
        function abreLink(){
            var path = "{{path}}"
            var url = "{{planilha_incorreta_url}}"
            var InicioRecorte = url.indexOf('incremento')
          
            window.open(path + url);
            
        }
    </script>

{% endblock 'css' %}


{% block 'body' %}


    <div class="container">

        <div class="w-50 mx-auto">
            <h3 class="display-4 text-center">Envio de meta</h3>

            <div>

                <form method="post" enctype="multipart/form-data" id="formdata">
                    {% csrf_token %}
                    
                    <!-- Qual carteira é essa? -->
                    
                    <div class="form-group">
                        <select name="carteira" class="form-control form-control-sm">
                            

                            {% for carteira in carteiras  %}
                                <option value="{{carteira.cod_cred}};{{carteira.nome_cred_padrao}}"> {{carteira.nome_carteira}}	</option>
                            {% endfor %}

                            {% comment %} <option value="4">OPERACAO - BANCO TOYOTA	</option>
                            <option value="6">OPERACAO - BANCO VOLKSWAGEN	</option>
                            <option value="6">OPERACAO - BANCO VOLKSWAGEN - JURIDICO	</option>
                            <option value="6">OPERACAO - BANCO VOLKSWAGEN - MIDDLE	</option>
                            <option value="6">OPERACAO - BANCO VOLKSWAGEN - PF	</option>
                            <option value="6">OPERACAO - BANCO VOLKSWAGEN - PJ	</option>
                            <option value="31">OPERACAO - BRADESCO COMERCIAL - JURIDICO	</option>
                            
                            <option value="16">OPERACAO - BRADESCO COMERCIAL IMOBILIARIO - JUR	</option>
                            <option value="55">OPERACAO - BRADESCO COMERCIAL IMOBILIARIO - JUR	</option>

                            <option value="27">OPERACAO - BRADESCO CONSORCIO - AMIGAVEL	</option>
                            <option value="27">OPERACAO - BRADESCO CONSORCIO - JURIDICO	</option>
                            <option value="27">OPERACAO - BRADESCO CONSORCIO IMOBILIARIO - JUR	</option>
                            <option value="38">OPERACAO - BRADESCO CREDITO IMOBILIARIO	</option>
                            <option value="16">OPERACAO - BRADESCO VEICULOS - AMIGAVEL	</option>
                            <option value="55">OPERACAO - BRADESCO VEICULOS - JURIDICO	</option>
                            <option value="16">OPERACAO - BRADESCO VEICULOS - LP	</option>
                            <option value="46">OPERACAO - EMBRACON	</option>
                            <option value="56">OPERACAO - EMBRACON	</option>
                            <option value="18">OPERACAO - MAPFRE - HONDA	</option>
                            <option value="18">OPERACAO - MAPFRE - HONDA QP	</option>
                            <option value="37">OPERACAO - MAPFRE - SUZUKI	</option> {% endcomment %}
                        </select>
                    </div>

                    {% if planilha_incorreta_url %}
            
                        <div class="d-flex align-itemns-center">
                            <button onclick="abreLink()" class="btn btn-info mx-auto">Baixar planilha com erros</button>
                        </div>                                    
                    {% endif %}

                    <hr>
                    
                    <!--Meta filha-->
                    <div id="files">
                        <h6>Insira a sua meta abaixo</h6>
                        <div class="form-group file-transform">
                            <input type="file" id="meta_filha" name="meta_filha" class="form-control-file" >
                        </div>
                        

                        <!--Meta mãe
                        <h6>Insira a meta de operadores -- REMOVER</h6>
                        <div class="form-group file-transform">
                            
                            <input type="file" id="meta_mae" name="meta_mae" class="form-control-file" >
                        </div>
                    </div>-->


                    <button type="submit" class="btn btn-success btn-block">Enviar meta</button>
                </form>

            </div>

            <div class="mt-3">
                {%include 'global/partials/_messages.html'%}
            </div>

           

        </div>
        

    </div>

{% endblock 'body' %}