{% extends 'global/base.html' %}
{% load static %}

{% block 'title' %}Valor Prêmio{% endblock 'title' %}teste



{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/metaenvite.css' %}">
{% endblock 'css' %}


{% block 'body' %}
    
    <div class="container" >

        <div class="row">

            <div class="col-md-7 col- d-flex justify-content-center align-items-center">

                <h1 class="display-1 text-light">Tabela</h1>

            </div>

            <div class="col-md-5 col-" id="EnviteMeta">
                
                <header id="IntroductMeta">
                    <h1>Valor prêmio</h1>
                    <p>
                        Olá, você está na página de envio da meta de <span class="meta-name">Valor prêmio</span>.  Para enviar a meta basta clicar no botão abaixo e pronto!
                    </p>
                </header>
                
               
                <hr>
 
                <form class="formexcel" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="InputBox">

                        
                        
                        <div class="Input">
                            <label class=" file-upload" for="upload">
                                <p>Envie a sua planilha...</p>
                                <input type="file" id="upload" name="upload"/>
                            </label>
                        </div>
                        
                        <div class="IconInput">
                            <i class="fa-solid fa-table"></i>
                        </div>
                        
                    </div>
                    <small>Envie a planilha na caixa acima</small>

                    <input type="submit" class="btn">
                    <a href="">Ops... Não sei como enviar uma meta</a>
                </form>

                <hr>
                <div class="formexcel">
                    
                    <div class="InputBox">

                        
                        
                        <div class="Input">
                            <label class="file-upload">
                                <a href="{% static 'excel/valopremio.xlsx' %}" download="ValorPremio">Baixar planilha</a>
                            </label>
                        </div>
                        
                        <div class="IconInput bg-primary">
                            <i class="fa-sharp fa-solid fa-cloud-arrow-down"></i>
                        </div>
                        
                    </div>
                    
                    <a href="">Ops... Não baixar uma meta</a>
                </div>


            </div>

        </div>

    </div>
   
{% endblock 'body' %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    

</body>
</html>