{% extends 'global/base.html' %}
{% load static %}

{% block 'title' %}Artigo{% endblock 'title' %}



{% block 'css' %}
    <link rel="stylesheet" href="{% static 'secao_ajuda/search.css' %}">

{% endblock 'css' %}


{% block 'body' %}


    <div class="container-fluid no-gutters">
        <div id="SearchBox" >

            <div id="header" class=" w-100">
                <h1>
                    Central de ajudas M.I.S <br>
                    Informações e  tutoriais básicos:
                </h1>
                <form method="get" action="{% url 'secao_ajuda:busca' %}">
                    <input type="text" value="{{request.GET.q}}" name="q" placeholder="Escreva sua dúvida">
                </form>
            </div>

        </div>
    </div>
    <div class="container">

        <div id="duvidas" class="row">
            
            {% for artigo in artigos  %}
                <div class="col-lg-4 col-12 link-artigo">
                    <a href="{%url 'secao_ajuda:artigo' artigo.id%}">
                        <div class="duvida">
                            
                            <div class="img-duvida" id="{{artigo.capa_artigo.url}}" >
                            </div>

                            <h2>{{artigo.titulo_artigo}}</h2>
                            <p>{{artigo.descricao_artigo}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}


        </div>
        
        {% if index %}
            <div id="paginacao">


                {% if artigos.has_previous %}
                    <a href="?page={{artigos.previous_page_number}}" class="anterior paginacao_button"><<</a>
                {%endif%}
                
                <span class="pagina_atual paginacao_button">{{artigos.number}}</span>
                
                {% if artigos.has_next %}
                    <a href="?page={{artigos.next_page_number}}" class="posterior paginacao_button">>></a>
                {%endif%}

            
            </div>
        {%else%}
        <div id="paginacao">


            {% if artigos.has_previous %}
                <a href="?page={{artigos.previous_page_number}}&q={{request.GET.q}}" class="anterior paginacao_button"><<</a>
            {%endif%}
            
            <span class="pagina_atual paginacao_button">{{artigos.number}}</span>
            
            {% if artigos.has_next %}
                <a href="?page={{artigos.next_page_number}}&q={{request.GET.q}}" class="posterior paginacao_button">>></a>
            {%endif%}

        
        </div>
        {%endif%}

    </div>
<script>
    const artigos = document.getElementsByClassName('img-duvida')
    const quantidadeArtigos = artigos.length


    for(i=0 ; quantidadeArtigos > i; i++){
        const url = "url('" + artigos[i].id + "')"
        artigos[i].style.backgroundImage = url

    }
</script>
{% endblock 'body' %}